html, body
{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 720px)
{
  div.about-me div.pic
  {
    display: none;
  }
  div.flexItem
  {
    flex: 1;
    align-self: stretch;
  }
  div.flexRow
  {
    flex-direction: column
  }
  ul.tech-list
  {
    font-size: 1.75em;
  }
  .subTech
  {
    font-size: .5em;
  }
  div.footer ul
  {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (min-width: 720px)
{
  div.about-me div.pic
  {
    transition: transform .5s !important;
  }
  div.about-me.centered div.pic
  {
    animation-name: centeredPic;
    animation-delay: .5s;
    animation-duration: .75s;
    animation-fill-mode:both;
    transform: translateX(50%) scaleX(0);
  }
  @keyframes centeredPic
  {
    from {position: static; }
    to {position: absolute; }
  }
}
@media screen and (min-width: 721px) and (max-width: 1080px)
{
  div.flexItem
  {
    flex: 1;
    align-self: stretch;
  }
  div.flexRow
  {
    flex-direction: column
  }
  ul.tech-list
  {
    font-size: 1.75em;
  }
  .subTech
  {
    font-size: .5em;
  }
  div.footer ul
  {
    flex-direction: row;
    align-items: center;
  }

}
@media screen and (min-width: 1081px)
{
  div.flexItem
  {
    flex: 1;
    align-self: stretch;
  }
  div.flexRow
  {
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  ul.tech-list
  {
    font-size: 3rem;
  }
  ul.subTech li
  {
    font-size: 1rem !important;
  }
  .tech-list
  {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  div.footer ul
  {
    flex-direction: row;
    align-items: center;
  }
}

.mainContainer
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 100%;
  height: 100%;
}
.flexRow
{
  display: flex;
  flex-direction: row;
  align-items:center;
  min-height: 250px;
}
div.about-me
{
  width: 100%;
  min-height: 350px;
  display: flex;
}
div.pic
{
  flex: 2;
  font-size: 6em;
  display: flex;
  align-items: center;
}
div.logo-wrapper
{
  margin-left: auto;
  margin-right: auto;
}
ul
{
  padding: 0;
  margin: 0;
}
div.about-me p#who-i-am-txt
{
transform: translateY(150%);
}
div.about-me.centered p#who-i-am-txt
{
  transform: translateY(-100%);
}
div.about-me *
{
  transition: transform 1s;
}
div.about-me div.paragraph
{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkgray;
  color: white;
  font-size: 3.5em;
  overflow: hidden;
}
div.about-me p#about-me-txt
{
  transform: translateY(200%);
}
div.about-me.centered p#about-me-txt
{
    transform: translateY(-25%);
}

div.footer
{
  width: 100%;
  background: black;
  color: #ffffffc4;
}
div.footer ul
{
  display: flex;
}
div.footer li
{
  cursor: pointer;
}
.subTech
{
  padding-left: 5%;
  text-align: center;
}
li span
{
  margin-right: 1.2%;
}
li
{
  list-style: none;
}
li strong {
  border-bottom: 1px solid black;
}
ul.tech-list li
{
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
ul.tech-list li:nth-of-type(even)
{

  transform: translateX(100%);
}
ul.tech-list li:nth-of-type(odd)
{
  transform: translateX(-100%);
}
ul.tech-list li.centered
{
  opacity: 1;
  transform: translateX(0%);
}
