html, body
{
  height: 100%;
}
@media (hover:hover)
{
  div.site-btn.collapsed:hover span
  {
    transform: scale(5);
  }
}
@media screen and (max-width: 768px)
{
  div.web-object
  {
    width: 100%;
  }
  div.web-object.collapsed
  {
  }
  div.web-object.open
  {
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px)
{
  div.web-object.collapsed
  {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
  }
  div.web-object.open
  {
    min-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1081px)
{
  div.web-object.collapsed
  {
    margin-right: auto;
    margin-left: auto;
    width: 30%;
  }
  div.web-object.open
  {
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
div.web-wrapper-main
{
  display: flex;
  flex-wrap: wrap;
}

div.web-object
{
  background: #c4c4c4;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border-radius: 5px;
  transition: width 1s, transform .5s, visibility .75s;
}

div.web-object.collapsed .site-btn
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 15em;
}
div.web-object.collapsed .site-btn h1
{
  margin-top: auto;
  margin-bottom: auto;
}
div.web-object.collapsed .site-btn span{
  margin-left: 1.5%;
  font-size: 1.5em;
}
div.web-object.open .site-btn span
{
  float:right;
  margin-right: 1.5%;
}

div.site-btn
{
  padding-left: 2%;
  user-select: none;
  cursor: pointer;
  background: #5c5c5ca4;
  color: #ffffffb6;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
div.site-collapsable
{
  display: flex;
}
div.site-btn span i
{
  transform: rotate(0deg);
  transition: transform .5s .5s;
}
div.site-btn.collapsed span i
{
  transform: rotate(180deg);
}
iframe
{
  width: 95%;
  background: white;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  border: 0;
  margin-bottom: 1.5%;
}
div.button-wrapper
{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}
div.button
{
  border-radius: 5px;
  cursor: pointer;
  opacity: .85;
  padding: .85em 1.5em;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  color: white !important;
  text-shadow: 1px 1px 1px grey,
  -1px -1px 1px grey;
  font-weight:bold;
}
div.visit-button
{
  background: #03fcf4;
}
div.visit-button a:hover
{
  color: inherit;
  text-decoration:none;
}
.hidecollapse
{
  opacity: .50;
  transform: scale(0);
  visibility:hidden;
  animation-name: absolutePos;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-fill-mode:both;

}
@keyframes absolutePos
{
  0% {position: static;}
  100% {position: absolute;}
}
